
nav {
  background-color: rgb(70, 130, 180);
  color : rgb(224, 148, 148);
  padding: 10px;
}

nav a {
  color: rgb(243, 235, 235);
  padding: 20px;
  display: block;
  text-decoration: none;
}

h1 {
  color: rgb(56, 80, 100);
}

img{
  max-width: 100%;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid rgb(87, 126, 158);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0px;
}

main{
  max-width: 840px;
}

aside {
  width: 20rem;
  margin: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: rgb(237, 221, 221);
  color: #170707;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #cf8080;
  text-align: center;
}